<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <h1>Hello from SignUp</h1>
    <form action="/user" method="post">
        <label>Enter your full Name:</label>
        <input type="text" name="name" required>
        <label>Enter your Email:</label>
        <input type="text" name="email" required>
        <label>Enter your Password:</label>
        <input type="text" name="password" required>
        <button type="submit">SignUP</button>
    </form>
</body>
</html>